body {
    background-color: rgb(109, 255, 143);
    margin: 0;
    /* Шрифт можно указать один раз, так он применитс ко всем элементам внутри Body */
    font: bold 1em Verdana;
}
a {
  /* нижнее подчеркивание у ссылок можно убрать напрямую для тега один раз */
  text-decoration: none;
  /* здесь же можно сделать цвет текста ссылки, но нужно смотреть внимательно, чтобы навигация не испортилась */
}
header {
    background-color: rgb(163, 255, 240);
}

main {
    background-color: rgb(109, 255, 143);   
}

footer {
    background-color: rgb(133, 182, 228);
}

.banner {
    height: 10vh;
    background-color: rgb(114, 122, 194);
}

.top-nav {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.top-nav a {
    padding: 2vh 4vh;
    display: block;
    text-decoration: none;
}

.top-nav a:hover {
    background-color: rgb(162, 253, 120)
}

.page-header {
    margin: 0;
}

.f {
    margin: 0;
}


/* Максимальная ширина картинки теперь не превышает размер экрана */
.img {
  max-width: 100vw;
}