@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Ubuntu&display=swap');
body {
    /* Сброс стандартых стилей */
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    padding: 15px;
    background-color: rgb(0, 30, 149);
    color: white;
}

.nav-ul {
    /* Сброс стандартых стилей */
    margin: 0;
    list-style: none;
    padding: 0;

    /* Выстраивание элементов в строку */
    display: flex;
}

.nav-li {
    /* Отступ сверху и снизу 0, справа и слева 10px */
    padding: 0 2vw;
    background-color: rgb(233, 247, 35);;
    color: black;
    margin: 1vw;
}
.nav-li:hover {
    color: azure;
    color: black;
    /* Подчеркивание текста при наведении */
    text-decoration: underline;
}


.banner-img {
    margin: 3vh 0;
    width: 40vw;
    padding-left: 28vw;
    padding-right: 28vw;
}

.main {
    background-color: aquamarine;
    padding: 2vh 3vw;
}
.wrapper {
    display: flex;
}
.nav-a{
    background-color: rgb(233, 247, 35);
    text-decoration:none ;
    font: bold 1em Verdana;
    font: 4Verdana;
}
.GT{

    text-align:center;
    background-color:rgb(233, 247, 35) ;

}
.img{
    width: 100vw;



}
